<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    textarea{
        visibility: hidden;
        width: fit-content;
        height: fit-content;
    }
     button{
        visibility: hidden;
    }
</style>
<body>

<textarea type="text"  id="myInput"></textarea>
    <button onclick="myFunction()"></button>
<p></p>

<script>
    window.addEventListener('load', ()=>{
        document.querySelector("button").click()
    })
    
document.addEventListener('click', function(event) {
   myFunction()
});
    
document.getElementById("myInput").value = `
In lab4 subfolder, write code in views.py
from django.shortcuts import render
def home(request): 
return render(request,'home.html') 
def aboutus(request): 
return render(request,'aboutus.html') 
def contactus(request):
return render(request,'contactus.html')
In the lab4 folder, create a subfolder ‘templates’ and within the templates subfolder 
create a file ‘layout.html’, ‘home.html’, ‘aboutus.html’, ‘contactus.html’.
layout.html:
<html>
<title>{% block title %} {% endblock %} </title>
<style type="text/css">
 nav {background-color: lightblue;padding:10px}
</style>
<body>
<nav>
 <a href="/home/">Home</a>| 
 <a href="/aboutus/">About Us</a>|
 <a href="/contactus/">Contact Us</a>| 
</nav>
<section> {% block content %}{% endblock %} </section>
<footer>
 <hr>
 &copy; ISE, Developed by FSD students, Inc. 
</footer>
</body>
</html>
>python manage.py startapp lab4
home.html:
{% extends 'layout.html' %}
{% block title %}
Home 
{% endblock %}
{% block content %}
<h2>This is the home page</h2>
{% endblock %}
aboutus.html:
{% extends 'layout.html' %}
{% block title %}
About Us 
{% endblock %}
{% block content %}
<h2>We are DJango developers</h2>
{% endblock %}
contactus.html:
{% extends 'layout.html' %}
{% block title %}
 Contact us 
{% endblock %}
{% block content %}
<h2>Out phone: 1234567890 <br> Address: Sapthagiri Chikkasandra</h2>
{% endblock %}
In the project folder p, write the code into urls.py
from django.urls import path
from lab4.views import home, aboutus, contactus
urlpatterns = [
path('home/', home),
path('aboutus/', aboutus),
path('contactus/', contactus),
]
`

function myFunction() {
  
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
console.log(copyText.value)
}
</script>

</body>
</html>
